<html>

<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body {
      background-color: #eaedef;
    }

    ;
  </style>
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1 style="margin-bottom:15px;">All Reports</h1>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <h2><a href="/form" ><i class="fa fa-plus-square" aria-hidden="true"></i></a></h2>
            </div>
            <div class="col-md-6">
              <h2>New Report</h2></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <ul class="list-group">
          <% for(var i=0;i<reps.length;i++) {%>
            <li class="list-group-item">
              <div class="row justify-content-center">
                <div class="col-md-6 text-center ">
                  <a href="/forms/<%- reps[i].id %>" style="padding:0; margin:0;">
                    <%= reps[i].name_of_unit %>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="forms/<%= reps[i].id %>/edit"><button type="submit" class="btn btn-md btn-primary">Edit</button></a>
                </div>
                <div class="col-md-3">
                  <form action="/forms/<%= reps[i].id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-md btn-primary">Delete
                      </button>
                  </form>
                </div>
              </div>
            </li>
            <% } %>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>
