<html>

<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <style>
    body {
      background-color: #ecedec;
    }

    * {
      margin: 0 padding:0 width:100%;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row " style="padding-top:40px;">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 text-center">
        <h2>Report Successfuly submited</h2></div>
    </div>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
          <h2><a class="btn btn-primary btn-lg" href="/" role="button">To main page</a></h2></div>
        <div class="col-lg-3">
          <h2><a class="btn btn-primary btn-lg" href="/form" role="button">Back to the report</a></h2></div>
      </div>
    </div>
  </div>
</body>

</html>
